body{
    margin:0;
    color:white;
    background:rgba(56,18,114,255);
    font-family: 'Nunito Sans', sans-serif;
    box-sizing:border-box;
}
/* Top of the page */
header{
    padding:20px 40px;
    background:rgba(51,16,103,255);
    display:flex;
    justify-content:center;
    align-items:center;
}